<!DOCTYPE html>
<html lang="en">

<%- include ('../partials/head.ejs')%>
<link rel="stylesheet" href="css/styles_lista_productos.css">

<body>
    <%- include ('../partials/header.ejs')%>
    <main>
        <section class="productos">
            <h1>NUESTROS CAFÉS</h1>
    
            <% for(let producto of products){ %>
                <div class="imagen-cafe">
                    <a href="/products/detail/<%= producto.id %>"><img src="/images/<%= producto.image %>"></a>
                </div>
                <div class="datos-producto">
                    <a href="#" class="descrpcion-juan-valdez"><%= producto.name %></a>
                    <p class="precio">$ <%= producto.price  %></p>
                    <a href="/products/detail/<%= producto.id %>" class="boton">Ver más</a>
                    
                </div>
                <% } %>

                <br>
            
            
            <!--BOTON DE CREAR PRODUCTO-->
            <div>
                <a href="/products/create" class="boton">CREAR PRODUCTO</a>
            <br>
            </div>
            </section>
           

    </main>
    <%- include ('../partials/footer.ejs')%>
    
</body>

</html>