  <!--Formulario de edición del producto-->
<!DOCTYPE html>
<html lang="en">
    <%- include ('./partials/head.ejs')%>
    <link rel="stylesheet" href="/css/styles_cargar_productos.css">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="/js/productEdit.js"> </script>

<body>
<!--Header-->
    <%- include ('./partials/header.ejs')%>
<main>  
<form action="/products/edit/<%= productToEdit.id %>?_method=PUT" method="POST" class="create-form">
    <div>
        <h1 id="titulo">Editar producto</h1>
    </div>
<fieldset class="grupo"> 
    <div class="campo">
        <label for="nombre"><strong>Nombre del producto:</strong></label>
        <input type="text" name="name" id="nombre" value="<%= productToEdit.name %>" />
            <% if (locals.errors && errors.name) { %>
            <div class="text-danger"> <%= errors.name.msg %> </div>
            <% } %>
        <p class="errorName errorFront"></p>
    </div>
    
    <div class="campo">
        <label for="precio"><strong>Precio:</strong></label>
        <input type="number" name="price" id="precio" value="<%= productToEdit.price %>" /> 
            <% if (locals.errors && errors.price) { %>
            <div class="text-danger"> <%= errors.price.msg %> </div>
            <% } %>
        </div><br>

    <div class="campo">
        <label for="descripción"><strong>Descripción:</strong></label>
        <textarea name="description" id="descripcion" ? ><%= productToEdit.description %></textarea>
            <% if (locals.errors && errors.description) { %>
            <div class="text-danger"> <%= errors.description.msg %> </div>
            <% } %>
        <p class="errorDescription errorFront"></p>    
    </div>
                    
    <div class="campo">
        <label class="imagen-producto"><strong>Elegí la foto del producto</strong></label>
        <input type="file" name="image" id="imagenProducto"/>
            <% if (locals.errors && errors.image) { %>
            <div class="text-danger"> <%= errors.image.msg %> </div>
            <% } %>
            <p class="errorImage errorFront"></p> 
    </div>
            
    <div>
        <button  type="submit" class="boton">GUARDAR</button>
        <button  type="reset" class="boton">BORRAR</button>
    </div>
</fieldset>
</form>
</main>
 <!--Footer del formulario de registro de la pagina -->
       <%- include ('./partials/footer.ejs')%>
</body>
</html>