<!-- MI REGISTRO LOGIN-->
<!DOCTYPE html>
<html lang="en">
    <%- include ('../partials/head.ejs')%>
    <link rel="stylesheet" href="../css/styles_login.css">

<body>
    <!-- Header-->
        <%- include ('../partials/header.ejs')%>
    <script src="https://unpkg.com/validator@latest/validator.min.js"></script>
    <script src = "/js/userLogin.js"> </script>
    
<main>
    <h1 class="iniciar-sesion"> Iniciar Sesión</h1>
<section class="form-login"> 
<form action="/users/login" method="POST" class="create-form">
    
    <div class="control-form"> 
        <label>E-mail</label>
        <input type="text" name="email" id="email" class="control" placeholder="Ej: tunombre@email.com " value = "<%= locals.oldData ? oldData.email : null %>">
            <% if (locals.errors && errors.email) {%>
            <div class="text-danger"><%= errors.email.msg %></div>
            <% }%>
        <p class="errorEmail errorFront"></p>
    </div>
                
    <div class="control-form"> 
        <label>Contraseña</label>
        <input type="password" name="password" id="contrasenia"class="control" placeholder="********">
            <% if (locals.errors && errors.password) {%>
            <div class="text-danger"><%= errors.password.msg %></div>
            <% }%>
        <p class="errorPassword errorFront"></p>
    <span class="error">La contraseña debe tener al menos 8 caracteres</span>
    </div>

    <div class="control-form">
        <div class="recordarme"> 
            <input type="checkbox" name="recordarme" value="recordarme" id="recordarme" class="control">
            <label class="etiqueta" for="recordarme">Recordarme </label> 
        </div>
    </div>

    <button type="submit" class="boton">INICIAR SESIÓN</button>
    <div class="help-block"><a href="/olvidaste">¿Olvidaste tu contraseña?</a></div>
</form>
</section>
</main>   
<!-- Footer -->
    <%- include ('../partials/footer.ejs')%>   
</body>
</html>